/* O Modal (fundo) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 30px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

/* Imagem dentro do modal */
.modal-content {
  margin: auto;
  display: block;
  width: 90%; /* Aumentar para 90% da largura da tela */
  max-width: 1200px; /* Definir um tamanho máximo maior */
}

/* Texto da legenda */
#caption {
  margin: auto;
  display: block;
  width: 90%; /* Aumentar a largura da legenda */
  max-width: 1200px; /* Mesma largura da imagem */
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

/* Botão de fechar */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Botão de fechar ao passar o mouse */
.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

  body {
    padding: 10px;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .main-banner {
      padding: 120px 10px;
    }
  
    .container {
      padding: 0 15px;
    }
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 150px; /* Define uma altura máxima para garantir que não estique */
  }
  
  @media screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo img {
      max-width: 100%;
      height: auto;
      max-height: 120px; /* Ajuste a altura máxima para iPhones */
  }
  
  #install-prompt-banner {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000dca;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Ícone de instalação */
  #install-prompt-banner img {
    vertical-align: middle;
    margin-right: 10px;
  }

  /* Botão para instalar */
  #install-prompt-banner button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Botão de fechar */
  #close-banner {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  #close-banner:hover {
    color: #ddd;
  }}